<link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">


<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/cd-themify-icons@0.0.1/index.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/slicknav.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/nice-select.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" href="/css/A.fonts,,_icomoon,,_style.css+css,,_bootstrap.min.css+css,,_magnific-popup.css+css,,_jquery-ui.css+css,,_owl.carousel.min.css+css,,_owl.theme.default.min.css+css,,_aos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/elegant-icons.css">
   
   
   <!-- Social Icon Nav Bar -->

    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        <a href="#" class="__cf_email__" data-cfemail="e189848d8d8ecf828e8d8e938d8883a1868c80888dcf828e8c">stacyuk@gmail.com</a>
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i> 09056144059
                    </div>
                </div>
                
            </div>
        </div>

        <div class="site-navbar bg-white py-2">
            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="index.html" class="js-logo-clone">ShopMax</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class=" ">
                                    <a href="/">Home </a>
                                </li>
                                <li><a href="/Kids">Kids</li>
                                <li><a href="/Female">Women</a></li>
                                <li><a href="/Material">Materials</a></li>
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/contact">Contact/Place Order</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
    
                        <a href="#" class="icons-btn d-inline-block"><span class="fa fa-heart-o"></span></a>
                        <a href="/cart" class="icons-btn d-inline-block bag">
                            <span class="fa fa-shopping-bag"></span>
                            <span class="number">2</span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="fa fa-bars fa-times"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Mobile Menu -->
    <div class="mobile-menu">
        <div class="site-logo">
            <a href="/" class="js-logo-clone">ShopMax</a>
        </div>
        <ul class="">
            <li class=" ">
                <a href="/">Home </a>
            </li>
            <li><a href="/Kids">Kids</li>
            <li><a href="/Female">Women</a></li>
            <li><a href="/Material">Materials</a></li>
            <li><a href="/Cart">Cart</a></li>
            <li><a href="/contact">Contact/Place Order</a></li>
        </ul>
    </div>

    <div class=" justify-content-center loading-modal">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>